.headerWeb {
    margin-top: 30px;
}

.spanSvg {
    width: 120px;
}

.headerNotBeRerturn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TitleWeb {
    font-weight: var(--font-Weight-1);
    color: var(--color-1);
    font-size: var(--font-Size-1);
}

.headerBeRerturn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerButtom {
    padding: 10px 30px;
    border-radius: var(--border-Radius-2);
    border: 1px solid transparent;
    background-color: var(--color-1);
    color: var(--color-6);
    font-size: var(--font-Size-3);

}