header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Title {
    font-weight: var(--font-Weight-1);
    color: var(--color-1);
    font-size: var(--font-Size-1);
}