.WelcomeWeb {
    font-weight: var(--font-Weight-4);
    font-size: var(--font-Size-2);
    margin: 90px 0px;
}

.textWeb {
    width: 80%;
}

.WelcomeWeb {
    display: flex;
    justify-content: center;

}

.HelloWelcome {
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.textSecondary {
    color: var(--color-1);
    font-weight: var(--font-Weight-2);
}

.imgWeb {
    width: 40%;
    height: auto;
}

.WelcomeButtom {
    padding: 10px 50px;
    border-radius: var(--border-Radius-2);
    border: 1px solid transparent;
    background-color: var(--color-1);
    color: var(--color-2);
    opacity: 0.7;
    transition: opacity .8s ease-in-out;
    margin: 10px 0px;
    font-size: var(--font-Size-3);
}

.WelcomeButtom:hover {
    transition: opacity .3s ease-in-out;
    opacity: 1;
}