.InputMobile {
    margin: 25px 0px;
}

.css-yk16xz-control {
    flex-direction: row-reverse;
}

.css-1pahdxg-control,
.css-yk16xz-control {
    flex-direction: row-reverse;
    height: 60px;
    border-radius: 16px !important;
}

.css-1wy0on6 {
    flex-direction: row-reverse;
}

.css-1xh8qep-loadingIndicator,
.css-1okebmr-indicatorSeparator {
    display: none !important;
}